.update-passphrase-form {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem 0;

  .passphrase-requirement {
    display: flex;
    align-items: center;

    img {
      position: absolute;
    }

    p {
      display: inline;
      padding-left: 1.25rem;
      margin: .5rem;
    }
  }
}
