@import 'src/assets/styles/_colors.scss',
        'src/assets/styles/_constants.scss';

.accordion-content-toggle {
  display: none;
}

.accordion-header {
  display: grid;
  align-items: center;
  padding: 1rem $padding-sides;
  justify-content: start;
  grid-template-areas:
  "icon    title   title   chevron"
  "icon    account account chevron"
  "summary summary summary summary";

  .accordion-header-icon-container {
    grid-area: icon;

    .accordion-header-icon {
      float: left;
      height: 2rem;
      margin-right: .5rem;
      margin-bottom: .4rem;
      padding-right: .4rem;
    }

    .checkbox {
      float: left;
    }
  }

  .accordion-header-title {
    grid-area: title;
    font-weight: 600;
  }

  .accordion-header-account {
    grid-area: account;
    font-size: 0.8rem;
    color: $brand-secondary;
  }

  .accordion-header-summary {
    grid-area: summary;
    color: $brand-primary;
    letter-spacing: 0.2px;
    margin: .25rem 0;
  }

  .accordion-chevron {
    grid-area: chevron;
    transform: rotate(0deg);
    transition: transform 100ms;
    margin-left: 1.5rem;

    &.is-open {
      transform: rotate(180deg);
      transition: transform 100ms;
    }
  }
}
