// ==========================================================================
// Colors
// ==========================================================================

// Brand Color Palette
$brand-primary: #1A3270;
$brand-secondary: #607C9F;
$brand-inactive-dark: #C1C5D1;
$brand-inactive-light: #F0F2F8;
$brand-bg: #F9FAFB;
$brand-white: #FFFFFF;

// Action State Color Pallete
$bg-disabled: #D5D8E2;
$font-disabled: #9C9FB3;
$success: #7ED321;
$error: #FF6363;
$primary-hover: #354F93;
