$padding-top: 2.5rem;
$padding-sides: 1.5rem;
$padding-header: $padding-top $padding-sides 1.5rem $padding-sides;
$padding-heading-gap: 1rem;
$padding-input-gap: .5rem;

$padding-button: .75rem;
$padding-button-container: 1.5rem;
